@import "../index.sass"
.nav-burger 
    position: fixed 
    top: 20px 
    right: 20px 
    height: 28px 
    width: 40px
    border: none
    background-color: transparent
    display: flex
    flex-direction: column
    justify-content: space-between
    cursor: pointer
    outline: none 
    z-index: 2

    span 
        width: 40px 
        height: 4px
        background-color: $sea-blue
        border-radius: 15%
        transition: .5s cubic-bezier(0.68, -0.55, 0.27, 1.55)
        transform-origin: center
    .span-2
        width: 30px
        align-self: center
        opacity: 1
.nav-burger.active .span-2 
    transform: translateX(-80px)
    opacity: 0
.nav-burger.active .span-1 
    transform: translateY(12px) rotate(-45deg)
.nav-burger.active .span-3 
    transform: translateY(-12px) rotate(45deg)
.nav-burger.active span
    background-color: $salmon-pink
.nav 
    position: fixed 
    left: 0
    top: 0 
    width: 100vw 
    height: 100vh
    padding: 30% 0
    background-color: $sea-blue
    z-index: 1
    border: 2px solid $salmon-pink
    transition: .3s linear
    transform: translateY(-100%)
    display: flex
    flex-direction: column
    justify-content: space-between
    .menu-btn
        height: 100px
        width: 100%
        background-color: transparent
        border: none
        text-align: left 
        padding-left: 10px
        cursor: pointer
    .btn-1
        background-image: linear-gradient(to right, $yellow, rgba(0,0,0,0))
    .btn-2
        background-image: linear-gradient(to right, $violet, rgba(0,0,0,0))
    .btn-3
        background-image: linear-gradient(to right, $salmon-pink, rgba(0,0,0,0))
    .btn-4
        background-image: linear-gradient(to right, $pink, rgba(0,0,0,0))
.nav.active 
    transform: none
    

